@import "../../../assets/styles/main.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  &__logo {
    display: flex;
    align-items: center;
  }
}

.logo {
  &__text {
    margin-left: 15px;
  }
}

.nav {

  &__item {
    display: inline;
    padding-bottom: 10px;
    list-style-type: none;

    &--login {
      border: 2px solid $blue;
      border-radius: 9999px;
      color: $blue;
      padding: 4px 17px 4px 17px;
      margin-left: 30px;
      transition-duration: 200ms;

      &:hover {
        background-color: $blue;
        color: $white;
        border-bottom: none;
      }
    }

    &:not(:first-child) {
      margin-left: 30px;
    }

    &:hover {
      border-bottom: 3px solid $blue;
    }
  }
}
