.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px; }
  .login__form {
    display: flex;
    flex-direction: column; }
  .login__field {
    margin-top: 45px; }
  .login__input {
    width: 300px; }
  .login__button {
    margin: 50px auto 0 auto;
    width: 100px;
    font-size: 15px; }
  .login__error-container {
    width: 200px;
    margin: 20px auto -20px auto;
    padding: 5px;
    border: 1px solid red;
    border-radius: 3px;
    font-size: 14px;
    background-color: #da627d;
    color: #000000; }
