body > iframe {
  display: none;
}

.setup-account {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  padding: 0 20px;
  text-align: center;
}

.payments {
  margin: 80px auto 0 auto;

  &--solo {
    margin: 150px auto 0 auto;
  }

  &__header {
    font-size: 30px;
  }
}
