@import "../../../../assets/styles/_variables.scss";

.tabs {
  color: $white;
  margin-top: 5%;
}

.tab {
  color: $white;
  cursor: pointer;
  display: inline;
  margin-right: 40px;
  padding-bottom: 15px;

  &:hover, &--active {
    border-bottom: 3px solid $white;
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}
