@import "../../../assets/styles/main.scss";

.home {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  &__content {
    width: 500px;
  }

  &__header {
    font-size: 60px;
    font-weight: 400;
  }

  &__sub-header {
    margin-top: 20px;
    color: $gray;
    font-size: 20px;
    line-height: 30px;
  }

  &__buttons {
    margin-top: 45px;
  }

  &__button {
    width: 180px;
    height: 60px;
    font-size: 16px;

    &:first-of-type {
      margin-right: 20px;
    }
  }
}
