.payment-form {
  margin-top: 30px;

  & iframe {
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: 'Avenir';
    height: 30px !important;
    line-height: 1;
    outline: none;
  }

  & span * {
    display: inline !important;
  }

  &__stripe {
    display: flex;
    margin-top: 30px;
  }

  &__button {
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 14px;
  }
}

.card {
  &__number {
    & iframe {
      width: 290px !important;
      border-radius: 0;
      border-bottom: 2px solid #0c1c5e;

      @media screen and (max-width: 500px) {
        width: 61% !important;
      }
    }
  }

  &__expiry {
    & iframe {
      width: 125px !important;
      border-radius: 0;
      border-bottom: 2px solid #0c1c5e;

      @media screen and (max-width: 500px) {
        width: 27% !important;
      }
    }
  }

  &__cvc {
    & iframe {
      width: 55px !important;
      border-radius: 0;
      border-bottom: 2px solid #0c1c5e;

      @media screen and (max-width: 500px) {
        width: 12% !important;
      }
    }
  }
}
