.auth {
  margin-top: 40px;
}

.signup-container {
  margin-top: 5%;
  text-align: center;
}

.field-first {
  display: inline-block;
  margin-right: 10px;
}

.field-first .signup-input {
  width: 200px;
}

.field-last {
  display: inline-block;
}

.field-last .signup-input {
  width: 200px;
}

.signup-input {
  width: 430px;
}

.login-input {
  width: 300px;
}

.error-container {
  background-color: #DA627D;
  border: 1px solid red;
  border-radius: 3px;
  font-size: 14px;
  margin: 20px auto -20px auto;
  padding: 5px;
  width: 200px;
}
