.container {
  margin-top: 8%;
  text-align: center;
}

.container-home {
  margin-top: 5%;
  text-align: center;
}

.hdr {
  color: #0c1c5e;
  font-family: 'Avenir';
  font-size: 50px;
  font-weight: 300;
}

.sub-hdr {
  color: #0c1c5e;
  font-size: 16px;
  margin-top: 20px;
}

.btns {
  margin-top: 20px;
}

.btn {
  background-color: white;
  border: 2px solid #0c1c5e;
  border-radius: 9999px;
  color: #0c1c5e;
  font-size: 16px;
  height: 50px;
  margin: 20px;
  padding: 10px;
  width: 150px;
}

.btn:hover {
  background-color: #0c1c5e;
  color: white;
}

.input {
  border: none;
  border-bottom: 2px solid #0c1c5e;
  font-size: 14px;
  height: 25px;
  margin-top: 30px;
  padding: 10px;
  outline: none;
  width: 430px;
}

.get-started {
  border: 2px solid #0c1c5e;
  border-radius: 4px;
  background-color: #0c1c5e;
  color: white;
  font-size: 15px;
  height: 60px;
  margin-top: 20px;
  padding: 10px;
  width: 180px;
}

/*.get-started:hover {
  background-color: #0c1c5e;
  color: white;
}*/

.footer-white {
  background-color: #FAFAFC;
  color: black;
}

.has-error {
  background-color: #DA627D;
}

.has-error::-webkit-input-placeholder {
  color: #1C1A19;
}
.has-error::-moz-placeholder {
  color: #1C1A19;
}
.has-error:-ms-input-placeholder {
  color: #1C1A19;
}
.has-error:-moz-placeholder {
  color: #1C1A19;
}
