.header-content {
  margin: 0 2%;
  padding-bottom: 10px;
}

.logo {
  color: white;
  display: inline-block;
}

.nav {
  color: white;
  display: inline-block;
  float: right;
  line-height: 44px;
}

.nav li {
  display: inline;
  list-style-type: none;
}

.nav-item:not(:first-child) {
  margin-left: 30px;
}

.nav-item {
  padding-bottom: 19px;
}

.nav-item:hover {
  border-bottom: 3px solid #0c1c5e;
}

.login {
  border: 2px solid #0c1c5e;
  border-radius: 9999px;
  padding: 4px 17px 4px 17px;
  margin-left: 30px;
}

.login-link, .signout-link {
  color: #0c1c5e;
}

.login-link:hover, .signout-link:hover {
  color: white;
}

.login:hover {
  background-color: #0c1c5e;
  color: white;
}
