* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

body {
  background-color: #6699CC;
  min-height: 94%;
  font-family: 'Avenir';
  font-weight: 300;
  overflow: auto;
}

button {
  cursor: pointer;
  font-family: 'Avenir';
  font-weight: 300;
  outline: none;
}

footer {
  bottom: 0;
  color: #FFF;
  height: 25px;
  font-size: 14px;
  position: absolute;
  text-align: center;
  width: 100%;
}

header {
  margin: 3% 5% 0 5%;
}
