* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.content {
  /*padding-bottom: 25px;*/
}

a {
  color: #0c1c5e;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'Avenir';
  font-weight: 300;
  overflow: auto;
  height: 94%;
}

button {
  cursor: pointer;
  font-family: 'Avenir';
  font-weight: 300;
  outline: none;
}

footer {
  bottom: 0;
  color: white;
  height: 25px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

header {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

header.dark {
  background-color: #0c1c5e;
  border: none;
}
