@import "../../../assets/styles/main.scss";

.app {
  display: flex;
  flex-direction: column;
}

.app__container {
  margin: 0 auto;
  max-width: 1250px;
}

//
//   MOVE THIS SHIT ELSEWHERE
//

.has-error::-webkit-input-placeholder {
  color: #1C1A19;
}
.has-error::-moz-placeholder {
  color: #1C1A19;
}
.has-error:-ms-input-placeholder {
  color: #1C1A19;
}
.has-error:-moz-placeholder {
  color: #1C1A19;
}
